body{
  min-width: 1200px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  font-family: 'PT Sans', "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.container{
  width: 1200px;
  margin: 0 auto;
  outline: 1px solid black;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

header{
  position: relative;
  color: #000000;
  background-color: white;
  outline: 1px solid black;
}

nav{
  width: 1160px;
  outline: 1px solid black;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul::after{
  content: "";
  display: table;
  clear: both;
}

nav li{
  margin-top: 13px;
  margin-bottom: 15px;
}

nav a{
  color: #000;
  font-weight: bold;
  text-decoration: none;
  outline: 1px solid black;
}

.nav-info{
  float: left;
  margin-left: 72px;
}

.nav-photo{
  float: left;
  margin-left: 147px;
}

.nav-map{
  float: left;
  margin-left: 388px;
}

.nav-hotels{
  float: right;
  margin-right: 31px;
}

.logo{
  position: absolute;
  top: -1px;
  left: 530px;
  display: block;
  width: 150px;
  outline: 1px solid black;
}

.greeting{
  padding-top: 77px;
  background: #e4f1fa url("../img/background.jpg") no-repeat;
  background-position: 0% 52%;
  outline: 1px solid black;
}

.greeting-img{
  width: 460px;
  margin-bottom: 132px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
}

.greeting-text{
  width: 574px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
}

.greeting-text b{
  display: block;
  width: 445px;
  margin: 0 auto;
  margin-bottom: 28px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  outline: 1px solid black;
}

.greeting-text p{
  display: block;
  width: 495px;
  margin: 0 auto;
  text-align: center;
  outline: 1px solid black;
}

.first-reasons{
  outline: 1px solid black;
}

.first-reasons::after{
  content: "";
  display: table;
  clear: both;
}

.blue-block{
  float: left;
  width: 400px;
  min-height: 260px;
  outline: 1px solid black;
}

.first-reasons-pic{
  float: left;
  width: 800px;
}

.features{
  font-size: 0;
}

.features-item{
  display: inline-block;
  vertical-align: top;
  width: 400px;
  min-height: 330px;
  outline: 1px solid black;
}

.last-reasons{
  font-size: 0;
}

.last-reasons-item{
  display: inline-block;
  vertical-align: top;
  width: 400px;
  min-height: 255px;
  outline: 1px solid black;
}

.last-reasons b, .features-item b{
  font-size: 21px;
}

.last-reasons p, .features-item p{
  font-size: 14px;
}

.hotels{
  min-height: 290px;
  outline: 1px solid black;
}

.hotels form{
  display: none;
}

.map{
  min-height: 475px;
  outline: 1px solid black;
}

footer{
  min-height: 120px;
  outline: 1px solid black;
}

footer::after{
  content: "";
  display: table;
  clear: both;
}

.visit-sedona{
  float: left;
  margin-left: 70px;
  width: 240px;
  min-height: 120px;
  outline: 1px solid black;
}

.footer-social{
  float: left;
  margin-left: 90px;
  width: 400px;
  min-height: 120px;
  outline: 1px solid black;
}

.footer-academy{
  float: left;
  margin-left: 90px;
  width: 240px;
  min-height: 120px;
  outline: 1px solid black;
}

.hotels-features{
  min-height: 220px;
  outline: 1px solid black;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.infrastructure{
  float: left;
  width: 190px;
  margin-left: 70px;
  outline: 1px solid black;
}

.housing-type{
  float: left;
  width: 190px;
  margin-left: 50px;
  outline: 1px solid black;
}

.filter-range{
  float: right;
  width: 330px;
  margin-right: 75px;
  outline: 1px solid black;
}

.found{
  min-height: 85px;
  outline: 1px solid black;
}

.found::after{
  content: "";
  display: table;
  clear: both;
}

.found-b{
  float: left;
  width: 150px;
  margin-left: 70px;
  outline: 1px solid black;
}

.found-items{
  float: left;
  outline: 1px solid black;
}

.up-and-down{
  float: right;
  width: 45px;
  margin-right: 75px;
  outline: 1px solid black;
}

.found-hotels{
  min-height: 455px;
  outline: 1px solid black;
}

.found-hotels-item{
  min-height: 150px;
  outline: 1px solid black;
}

.found-hotels-item::after{
  content: "";
  display: table;
  clear: both;
}

.hotel-img{
  float: left;
  margin-left: 75px;
  width: 150px;
  outline: 1px solid black;
}

.about-hotel{
  float: left;
  outline: 1px solid black;
}

.rating{
  float: right;
  width: 120px;
  margin-right: 75px;
  outline: 1px solid black;
}
